body{
        font-family:Arial, Helvetica, sans-serif ;
        color: aliceblue
}

header{
    display: flex;
    justify-content: space-between;
    border: 2px;
    background-color: #3b3c4b;
}

header .line{
    width: 12px;
}

.logo{
    width: 200px;
}

.navigation ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 29px;
    padding: 10px;
}

.navigation{
    border: 10px;
}


.line{
    border: none;
    border-top: 2px solid #333 ;
    margin: 1px 0;
}

.good{
font-style: normal;
color: rgb(255, 255, 255);
text-decoration: none;
}

.B1 {
    max-width: 100%;
    height: auto;
}

.Finish1{
    position: relative;
}

.Clown1{
    text-align: center;
    position: absolute;
    top: 50px;
    color: rgb(38, 0, 255);
}

.Clown1 p{
    color: rgba(109, 175, 236, 0.733);
    text-align: center;
    margin: 20px;
}

.Admin1{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-style: italic;

}

.US1{
    height: 300px;
    width: 25%;
    background-color: #16588E;
}

.fa-screwdriver-wrench {
    margin: 50PX;
}

